[core]
	editor = vim
	excludesfile = ~/.gitignore
	hooksPath = ~/.git-hooks
[alias]
	graph = log --graph --all --decorate --pretty=oneline --abbrev-commit
[user]
	email = eduardo.seabra@m4u.com.br
	name = Eduardo Seabra
[push]
	default = simple
